@font-face {
  font-family: watone;
  src: url("./fonts/Watone.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

h2,
h3,
h4,
p {
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 2rem;
}

h3 {
  color: rgb(15, 95, 95);
  margin: 0.5rem 0;
  letter-spacing: 1px;
}

h4,
p {
  margin: 0.7rem 0;
  font-size: 0.9rem;
}

.section {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  padding: 50px 0;
  position: relative;
}

.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-title {
  position: relative;
  z-index: 1;
}

.loading-title h2 {
  letter-spacing: 3px;
  font-size: 2.5rem;
  font-family: watone;
  color: #42bcff;
}

.loadingBorder {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50%;
  transform: translate(-50%);
}

.title {
  text-align: center;
}

.btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.hotel-btn {
  font-size: 1.1rem;
  background: transparent;
  border: 2px solid transparent;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.hotel-btn:hover,
.active-btn {
  color: teal;
}

.img {
  max-width: 800px;
  width: 100%;
  height: auto;
}

.thumbnails {
  display: flex;
  margin-top: 1.5rem;
}

.thumbnails img {
  width: 190px;
  height: 150px;
  margin-right: 1.5rem;
  cursor: pointer;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.95);
}

.imgContainer {
  width: 80%;
  max-width: 1000px;
  height: 700px;
  position: relative;
  margin: 0 auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
}

.close {
  position: absolute;
  right: 50px;
  top: 50px;
  display: flex;
  align-items: center;
}

.close svg {
  font-size: 2.5rem;
  color: #fff;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 auto;
}

.close svg:hover {
  opacity: 1;
}

@media screen and (min-width: 760px) {
  .hotels-container {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
  }

  .hotel {
    width: 70%;
  }

  .btn-container {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 2rem;
  }

  .hotel-btn {
    text-align: left;
    font-size: 1.1rem;
    padding: 2px 10px;
    margin: 0 0 0.7rem 0;
    width: 100%;
  }

  .hotel-btn:hover,
  .active-btn {
    border-left: 2px solid teal;
  }
}

@media screen and (min-width: 900px) {
  p {
    width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    width: 1200px;
  }

  .btn-container {
    margin-right: 4rem;
  }

  .hotel-btn {
    font-size: 1.5rem;
    padding: 2px 5px 2px 25px;
    margin: 10px 0;
  }
}
