* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
  color: rgb(44, 44, 44);
}

body {
  background: cornflowerblue;
  font-family: sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 50vw;
  padding: 20px;
  background: rgb(236, 236, 236);
  border-radius: 5px;
}

.title {
  text-align: center;
  margin: 10px 0 30px;
}

.questionComponent {
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  background: #fff;
  width: 90%;
}

.question {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

p {
  font-size: 1rem;
  color: rgb(87, 81, 81);
  line-height: 1.5rem;
}

.btn {
  background: transparent;
  color: cornflowerblue;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  margin: 0 15px;
}

@media screen and (max-width: 1100px) {
  .container {
    width: 80vw;
  }

  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding: 0;
  }
  .question {
    flex-direction: column;
    text-align: center;
  }

  .btn {
    margin-top: 10px;
  }
}
